html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

@font-face {
    font-family: "aeroportLight";
    src: url(./Assets/Fonts/AeroportLight.otf);
}

@font-face {
    font-family: "Purissima";
    src: url(./Assets/Fonts/PurissimaBoldW00Regular.ttf);
}