.UserActions {
    width: 20%;
    height: 100vh;
    text-align: left;
    color: white;
    font-family: arial;

    .actions-header {
        display: flex;
        align-items: center;
        position: relative;
        left: 10px;
        margin-top: 20px;
        font-size: 14px;

        .actions-icon {
            position: relative;
            top: -1px;
            width: 20px;
            margin: 10px;
            object-fit: contain;

        }
    }

    .users-text {
        display: flex;
        position: relative;
        left: 22px;
        margin-top: 35px;
        font: bold 12px sans-serif;
        opacity: 0.4;
    }

    .users-container {
        display: flex;
        justify-content: left;
        align-items: center;
        position: relative;
        left: 20px;
        margin-top: 50px;
        font-size: 14px;

        &[data-index="0"] {
            margin-top: 30px;
        }

        .propic-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3.2em;
            height: 3.2em;
            border-radius: 50%;
            background-color: rgb(40, 40, 40);

            .defaultpropic {
                position: relative;
                top: 4px;
                width: 2.2em;
                border-radius: 30%;
            }
        }

        .username {
            display: flex;
            position: relative;
            left: 18px;
            bottom: 8px;
            font: bold 12px sans-serif;
        }

        .already-added-friend {
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            width: 8em;
            height: 2.4em;
            left: 155px;
            color: white;
            background-color: rgb(40, 40, 40);
            border: none;
            border-radius: 10px;
            opacity: 0.6;
        }

        .send-request {
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            width: 8em;
            height: 2.4em;
            left: 155px;
            color: white;
            background-color: rgb(40, 40, 40);
            border: none;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                border: solid 1px;
                border-color: #3f8cee;
            }
        }

        .accept-request-container {
            position: absolute;
            left: 160px;
            width: 2.4em;
            height: 2.4em;
            background-color: rgb(40, 40, 40);
            border-radius: 50%;
            border: dashed transparent;

            .accept-request {
                position: relative;
                width: 1vw;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover {
                border: dashed red;
                cursor: pointer;
            }
        }

        .refuse-request-container {
            position: absolute;
            left: 220px;
            width: 2.4em;
            height: 2.4em;
            background-color: rgb(40, 40, 40);
            border-radius: 50%;
            border: dashed transparent;

            .refuse-request {
                position: relative;
                width: .9vw;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%)
            }


            &:hover {
                border: dashed red;
                cursor: pointer;
            }
        }

    }
}