<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
        body {
            display: flex;
            flex-direction: column;
            width: 100vw;
            height: 100vh;
            position: relative;
            margin: auto;
            justify-content: center;
            align-items: center;
        }

        .confirmEmail {
            font-family: "arial";
            position: relative;
            top: 20px;
            margin: auto;
            text-align: center;
        }

        .confirm-button {
            width: 5vw;
            height: 5vh;
            padding: 12px;
            color: white;
            background-color: #1d90f5;
        }
    </style>
</head>

<body>
    <div class="confirmEmail">
        Hello: {{email}}, please click the button below to activate your account

        <button class="confirm-button">
            <a href="http://localhost:3000/verify-account/{{activationToken}}">Activate Account</a>
        </button>
    </div>
</body>

</html>