@import "../../_mixins/settings";

.chat-list-menus {
    display: flex;
    flex-direction: column;
    padding: 2px;
    width: 14vw;
    height: 30vh;
    background-color: #1f1f25;
    border-radius: 5px;

    &--friend-settings {
        @include contextMenus;
    }

    &--group-settings {
        @include contextMenus;
    }
}