.group-settings-overview {
    position: relative;
    margin-left: 50px;
    width: 60%;
    height: 100%;
    
    &__section-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        width: 100%;
        height: 30%;
        top: 100px;
    }

    &__section-1-title {
        position: absolute;
        top: -60px;
        font: bold 20px "aeroportLight";
    }

    &__propic-container {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 6em;
        height: 6em;
        border-radius: 50%;
        background-color: black;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);
        cursor: pointer;
    }

    &__change-pic-text {
        position: relative;
        font: bold 12px "aeroportLight";
        bottom: 2px;
        z-index: 1;
        pointer-events: none;
    }

    &__propic {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;

        &:hover {
            opacity: 0.8;
        }
    }

    &__new-group-pic-input {
        display: none;
    }

    &__remove-btn {
        position: absolute;
        margin-top: 110px;
        margin-left: 17px;
        font: 14px bold "aeroportLight";
        color: white;
        background-color: transparent;
        border: none;
        opacity: 0.7;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    &__server-name-changer-container {
        position: relative;
        width: 50%;
    }

    &__server-name-text {
        position: relative;
        font: 14px "aeroportLight";
        opacity: 0.7;
    }

    &__server-name-input {
        margin-top: 8px;
        width: 100%;
        height: 40px;
        outline: none;
        background-color: #202225;
        border: none;
        border-radius: 4px;
        color: white;
        font: 15px "aeroportLight";
        padding: 5px 10px;
        box-sizing: border-box;
   
        &[type=text] {
            color: rgba(white, 0.8);
        }
    }

    &__divider {
        position: relative;
        border-top: solid 1px rgba(114, 118, 125, .3);
        width: 100%;
    }
}

@font-face {
    font-family: "aeroportLight";
    src: url(../../Assets/Fonts/AeroportLight.otf);
}