.ActivateAccount {
    height: 100vh;
    width: 100vw;
    background-image: url(../Assets/Images/login-form-page-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "arial";

    .new-password-form-container {
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 70vh;
        height: 80vh;
        background-color: white;
        border-top-left-radius: 8px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 0;
        flex-direction: column;
        box-shadow: 0px 15px 10px 15px;
        background-image: url(../Assets/Images/login-form-background.jpg);
        background-position: right;

        .password-container {
            font-size: 13px;

            .password {
                display: flex;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 45vh;
                height: 4vh;
                border-radius: 16px;
                color: white;
                background: transparent;
                border-style: solid;
                border-width: 1px;
                border-color: rgb(224, 224, 224);
                outline: none;
                text-indent: 40px;
                background: url(../Assets/Images/lock.png);
                background-position: left;
                background-size: 18px;
                background-repeat: no-repeat;
                background-position: 10px;
                background-position-y: 5px;
                opacity: 0.7;
                font-size: 16px;

                &:focus~#password-span {
                    font-size: 12px;
                    top: 245px;
                }
            }

            #username {
                top: 190px;
                font-size: 16px;

                &:focus~#username-span {
                    top: 150px;
                    font-size: 11px;
                }
            }

            .password~#username-span {
                color: white;
                transition: top .7s ease;
                position: absolute;
                margin-right: auto;
                left: 168px;
                top: 33%;
                transform: translate(-50%, -50%);
                font-size: 12px;
            }

            .password~#password-span {
                color: white;
                transition: top .7s ease;
                position: absolute;
                margin-right: auto;
                left: 168px;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: 12px;
            }

            .password~#confirm-password-span {
                color: white;
                transition: top .7s ease;
                position: absolute;
                margin-right: auto;
                left: 192px;
                top: 380px;
                transform: translate(-50%, -50%);
                
            }

            #confirm-password {
                top: 380px;
                font-size: 16px;

                &:focus~#confirm-password-span {
                    top: 340px;
                    font-size: 11px;
                }
            }

            #confirm-password-span {
                font-size: 11px
            }
        }

        .is-present-error {
            display: flex;
            position: relative;
            top: 250px;
            color: red;
            margin: auto;
        }

        .submit {
            display: flex;
            position: relative;
            bottom: 26vh;
            border: none;
            border-radius: 20px;
            transform: translate(0, 120px);
            width: 46vh;
            height: 5vh;
            margin-top: auto;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: white;
            font-weight: bolder;
            letter-spacing: 1px;
            background-color: #0000ff;
        }

        .login-link {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, 1400%);
            color: white;
            font-size: 14px;
        }
    }
}