.add-friend-list {
    width: 80%;
    height: 100%;

    &__icon {
        position: relative;
        top: -1px;
        width: 20px;
        margin: 10px;
        object-fit: contain;
    }

    &__users-container {
        display: flex;
        justify-content: left;
        align-items: center;
        position: relative;
        left: 20px;
        margin-top: 50px;
        font-size: 14px;
        color: white;
        font-family: arial;

        &[data-index="0"] {
            margin-top: 30px;
        }
    }


    &__username {
        position: relative;
        top: -4px;
        left: 16px;
        font: bold 13px "RozanovaUltraLight";
        letter-spacing: .3px;
        pointer-events: none;
    }

    &__btn {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        left: 200px;
        width: 35%;
        color: white;
        background-color: #1d90f5;
        border-radius: 30px;
        border: none;
        padding: 10px;
        cursor: pointer;
        align-self: center;
        transition: 0.3s all;
        box-shadow: 0 10px 40px -19px #1d90f5;

        &--request-already-added,
        &--request-already-sent {
            opacity: 0.6;
            cursor: default;
        }

        &--send-request {

            &:hover {
                box-shadow: 0 10px 40px -15px #1d90f5;
            }
        }
    }
}