.chat-open {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: 100%;
    flex: 100;

    &__overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 75%;
        height: 85%;
        background-color: #323644;
        border-radius: 14px;    
    }

    &__message-input {
        display: flex;
        position: relative;
        margin-bottom: 20px;
        bottom: 0;
        width: 70%;
        height: 2%;
        background-color: rgb(18, 18, 18);
        color: white;
        border: none;
        border-radius: 14px;
        outline: none;
        font: 14px "aeroportLight";
        padding: 13px 50px;
        overflow: hidden;
        resize: none;
    }

    &__send-message-icon {
        position: relative;
        margin-bottom: 30px;
        bottom: 1px;
        right: 140px;
        width: 20px;
        height: 20px;
        opacity: 0.5;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}


::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: #408ff4;
    border-radius: 10px;
}