.chat-list {
    width: 80%;
    height: 100%;

    &__text {
        display: flex;
        position: relative;
        left: 10px;
        font: 13px "RozanovaUltraLight";
        opacity: 0.6;
        color: white;

        &--group-messages {
            margin-top: 30px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        height: 82%;
        margin-top: 28px;
    }

    &__scrollbar-track-vertical {
        position: absolute;
        width: 4px !important;
        right: 0;
        height: 100%;
        opacity: 0.8;
    }

    &__scrollbar-thumb-vertical {
        background-color: #408ff4;
        border-radius: 8px;

        &:active {
            visibility: visible !important;
        }
    }

    //removes horizontal overflow
    &__view {
        overflow-x: hidden !important;
    }


    &__element-container {
        display: flex;
        position: relative;
        height: 6%;
        background-color: #323644;
        border-radius: 12px;
        font-size: 14px;
        color: white;
        padding: 14px;
        font-family: arial;
        cursor: pointer;
        text-overflow: ellipsis;
        margin-top: 18px;
        transition: .2s all;

        &:hover {
            background-color: #285e8d;

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 100%;
                transform: translate(-50%, -50%);
                width: 75%;
                box-shadow: 0 -10px 25px 5px #285e8d;
            }
        }
        

        &[aria-checked=true] {
            background-color: #1d90f5;

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 100%;
                transform: translate(-50%, -50%);
                width: 80%;
                box-shadow: 0 -10px 25px 6px #1d90f5;
            }
        }

    }

    &__userdata-container {
        display: flex;
        position: relative;
        width: 100%;
        left: 16px;
        flex: 1;
    }

    &__name {
        font: bold 13px "RozanovaUltraLight";
        letter-spacing: .3px;
        pointer-events: none;
    }

    &__last-message {
        position: absolute;
        bottom: 20px;
        left: 80px;
        font: 12px "sans-serif";
        opacity: 0.4;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}