.chat-open {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: 100%;
    flex: 100;

    &__overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 75%;
        height: 85%;
        background-color: #323644;
        border-radius: 14px;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 20%;
            top: 0;
            //background: linear-gradient(to top, transparent, rgba(36, 40, 49, 0.4));
            pointer-events: none;
            z-index: 1;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 35%;
            bottom: 0;
            background: linear-gradient(to bottom, transparent, rgba(36, 40, 49, 0));
            pointer-events: none;
        }
    }

    &__message-input-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 80%;
        height: min-content;
        bottom: 2px;
    }
    

    &__btns-container {
        display: flex;
        justify-content: space-between;
        bottom: 20px;
        position: absolute;
        width: 100%;
    }

    &__btns {
        display: flex;
        border: solid;
        border-color: #4d5162;
        border-width: 1px;
        border-radius: 18px;
        fill: white;
        width: 9%;
        padding: 15px;
        cursor: pointer;

        &--attach-file-btn {
            background-color: #424656;
            position: relative;
            left: -10px;
        }

        &--send-message-btn {
            background-color: #1d90f5;
            box-shadow: 0 5px 30px -10px #1d90f5;
            position: relative;
            left: 10px;
        }
    }

    &__message-input {
        position: relative;
        height: min-content;
        width: 80%;
        text-align: left;
        box-sizing: border-box;
        border-radius: 12px;
        outline: solid;
        outline-width: 2px;
        outline-color: #1d90f5;
        border: none;
        background-color: #424656;
        color: white;
        padding: 15px 30px;
        margin: 20px;
        font: 15px "aeroportLight";
        cursor: ellipsis;
        transition: 0.2s all;
        overflow: hidden;
        z-index: 1;

        &:empty:before {
            content: attr(data-placeholder);
            opacity: 0.4;
            pointer-events: none;
        }

        &:focus {
            box-shadow: 0 0px 15px -6px #1d90f5;
        }
    }
}

