.chat-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5.1em;
    left: 11em;
    bottom: 0;
    width: 80%;
    height: 78%;
    overflow: auto;

    .message-container {
        display: inline-block;
        word-break: break-all;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 6%;
        height: 1%;
        margin-top: 40px;
        color: white;
        padding: 15px;

        &--current-user {
            background-color: #1D2736;
            left: 84%;
            border-radius: 8px 8px 0 8px;
        }

        &--sender-user {
            background-color: #222226;
            border-radius: 8px 8px 8px 0px;
        }

        .metadata-container {
            display: flex;
            width: 100%;
            position: relative;
            top: -30px;
            margin: 5px;

            &__created-at {
                position: absolute;
                right: 0;
                opacity: 0.2;
                font: 12px "aeroportLight";
            }

            &__text {
                position: relative;
                right: 6px;
                font: 14px "aeroportLight";
            }
        }
    }
}


@font-face {
    font-family: "aeroportLight";
    src: url(../Assets/Fonts/AeroportLight.otf);
}