.group-header {
    display: flex;
    position: relative;
    top: 10px;
    width: 100%;
    font: arial, 14px;
    color: white;
    margin-bottom: 50px;
    
    &__groupname {
        display: flex;
        position: relative;
        white-space: nowrap;
        left: 31px;
        bottom: 5px;
        font: bold 14px sans-serif;
    }

    &__add-friend-icon {
        position: absolute;
        top: 10px;
        right: 50px;
        width: 1.5em;
        height: 1.5em;
        cursor: pointer;
        transition: all .3s ease-out;
        opacity: 0.4;

        &:hover {
            opacity: 1;
        }

        &[value=true] {
            opacity: 1;
        }
    }

}