.group-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5.1em;
    left: 11em;
    bottom: 0;
    width: 80%;
    height: 78%;
    overflow: hidden;

    &__message-container {
        position: relative;
        width: 6%;
        height: 1%;
        margin-top: 40px;
        color: white;
        padding: 15px;
        word-break: break-word;

        &--current-user {
            background-color: #1D2736;
            direction: ltr;
            left: 84%;
            border-radius: 8px 8px 0 8px;
        }

        &--sender-user {
            background-color: #222226;
            border-radius: 8px 8px 8px 0px;
        }
    }

    &__metadata-container {
        display: flex;
        width: 100%;
        position: relative;
        top: -25px;
    }

    &__metadata-container-created-at {
        position: absolute;
        width: 100%;
        top: 12px;
        left: 16px;
        opacity: 0.2;
        font: 12px "aeroportLight";
    }

    &__metadata-container-text {
        position: relative;
        top: 16px;
        right: 6px;
        font: 14px "aeroportLight";

    }

}
