.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #2b2d35;

    &__container-outer {
        display: flex;
        width: 80vw;
        height: 80vh;
        background-color: black;
        color: white;
        font: 16px "aeroportLight";
        overflow: hidden;
        background-image: url("../Assets/Images/login-background.jpg");
        background-attachment: fixed;
        background-position: right;
        background-repeat: no-repeat;
        background-size: 50em;
        background-position-x: 45em;

        &:before {
            content: '';
            position: relative;
            height: 80%;
            transform: skewX(20deg);
            z-index: 1;
        }

        //parallelogram div
        &:after {
            content: "";
            position: relative;
            width: 70%;
            height: 100%;
            right: 33em;
            pointer-events: none;
            background: linear-gradient(#282a39ea, #282a39e8, #282a399b);
            //background: linear-gradient(#282a39ea, #2e3041d8 ,#1d1d28);
            transform: skewX(20deg);
        }

    }

    &__form-container {
        display: flex;
        flex-direction: column;
        width: 35%;
        height: 70%;
        transform: translate(20%, 20%);
        z-index: 1;
    }

    &__welcome-span {
        margin-bottom: 14px;
        font: bold 36px "aeroportLight";
    }

    &__signin-text {
        margin-bottom: 40px;
    }

    &__signin-anchor {
        text-decoration: none;
        color: #1c8ff3;
        
        &:hover {
            text-decoration: underline;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__input {
        position: relative;
        width: 100%;
        height: 8vh;
        margin-bottom: 15px;
        box-sizing: border-box;
        border-radius: 18px;
        outline: none;
        outline-color: transparent;
        border: none;
        background-color: #323645;
        color: white;
        padding: 10px 30px;
        font: 16px "aeroportLight";
        transition: 0.1s all;

        &:focus {
            outline: solid;
            outline-color: #2088e5;
            box-shadow: 0 0px 15px -5px #1d90f5;
        }

        &--password {
            margin-bottom: 30px;
        }
    }

    &__label {
        position: relative;
        left: 30px;
        top: 40px;
        pointer-events: none;
        transition: 0.3s all;
        z-index: 1;

        &--focused {
            font-size: 12px;
            opacity: 0.4;
            top: 20px;
        }
    }


    &__submit-btn {
        width: 90%;
        color: white;
        background-color: #1d90f5;
        border-radius: 30px;
        border: none;
        padding: 15px;
        cursor: pointer;
        align-self: center;
        transition: 0.3s all;
        box-shadow: 0 30px 80px -19px #1d90f5;

        &:hover {
            box-shadow: 0 30px 80px -15px #1d90f5;
        }
    }
}