.NotificationBell {
    position: absolute;
    top: 34%;
    left: 25.2%;
    width: 25vw;
    height: 55vh;
    transform: translate(-50%, -50%);
    background-color: rgb(60, 60, 60);
    color: white;
    font-family: arial;
    border-radius: 7px;
    text-align: center;
    z-index: 1;
    box-shadow: 1px 1px 5px .5px black;
}

.NotificationBell-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
    z-index: 1;
}