.ProfileModal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 70vh;
    transform: translate(-50%, -50%);
    background-color: rgb(60, 60, 60);
    font-family: arial;
    border-radius: 7px;
    border-color: rgb(60, 60, 60);
    box-shadow: 0px 0px 10px 1px white;
    animation: openModal .4s;

    .proPic-container {
        position: relative;
        top: 45px;
        left: 60px;
        width: 6.5em;
        height: 6.5em;

        .proPic {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 6.5em;
            height: 6.5em;
            border-radius: 60px;
            background-color: white;
            cursor: pointer;
        }

        .pic-changer {
            display: none;
        }
    }


    .email {
        position: absolute;
        color: white;
        font-size: 18px;
        left: 15vw;
        top: 13.5vh;
    }

    .username {
        position: absolute;
        left: 15vw;
        top: 10.5vh;
        margin: auto;
        font-size: 22px;
        text-decoration: none;
        border: none;
        outline: none;
        overflow: hidden;
        resize: none;
        background-color: rgb(60, 60, 60);
        color: white;

        &:focus {
            border: solid;
            border-width: 1px;
            border-radius: 8px;
            border-color: black;

        }
    }

    .settings-footer {
        position: absolute;
        bottom: 0;
        height: 14%;
        width: 100%;
        background-color: rgb(49, 49, 49);
        border-radius: 4px;

        .save-btn {
            display: flex;
            position: absolute;
            bottom: 12px;
            right: 20px;
            width: 6vw;
            height: 6vh;
            border: solid;
            border-color: rgb(0, 0, 0);
            border-radius: 12px;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            background-color: rgb(0, 0, 0);
            color: white;
            cursor: pointer;

            &:hover {
                animation: buttonHover .4s;

                background-color: rgb(78, 76, 76);
                border-color: rgb(73, 73, 73);
            }
        }
    }

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}


@keyframes openModal {
    from {
        width: 0;
        height: 0;
    }

    to {
        width: 50vw;
        height: 70vh;
    }
}

@keyframes buttonHover {
    from {
        background-color: rgb(0, 0, 0);
        border-color: rgb(0, 0, 0);
    }

    to {
        background-color: rgb(78, 76, 76);
        border-color: rgb(73, 73, 73);
    }
}