.search-bar {

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-top: 30px;
    }

    &__input-field {
        position: relative;
        background-color: #272A37;
        color: white;
        width: 100%;
        height: 5.5vh;
        font-family: "RozanovaUltraBold";
        font-size: 30px;
        padding-right: 35px;
        border: none;
        outline: none;
        box-sizing: border-box;
    }

    &__lens {
        position: absolute;
        top: 6px;
        right: 0;
        width: 22px;
        opacity: 0.5;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}