.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 6%;
    z-index: 1;
    background-color: linear-gradient(#1B2121, #17181C, #17181C);
    text-overflow: ellipsis;
    overflow: hidden;

    &__icons {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 150px;
        justify-content: center;
        align-items: center;
        height: 100%;
        list-style-type: none;
        padding: 0;
        text-align: center;

        li {
            width: 100%;
            height: 5%;
            margin: 0 0 40px 0;
            display: flex;
            align-items: center;
            justify-content: center;

            //avatar
            &:last-child {}


            &[value=true] {

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 2px;
                    height: 8%;
                    border-radius: 60px;
                    background-color: #1d90f5;
                    box-shadow: -6px 0px 25px 1px #1d90f5;
                    ;
                }
            }


        }
    }

    &__chat-icon,
    &__notification-bell,
    &__add-friend,
    &__create-server,
    &__settings-icon,
    &__logout-icon {

        width: 20%;
        height: 10%;
        fill: white;
        transition: all .3s ease-out;
        opacity: 0.4;

        &[value=true] {
            fill: #1d90f5;
            opacity: 1;
        }

        &:hover {
            cursor: pointer;
            fill: #285e8d;
            opacity: 1;
        }

        &:hover+.sidebar__tooltip {
            visibility: visible;
            animation: .2s popIn;
        }

    }

    &__tooltip {
        width: 110px;
        background-color: rgb(36, 35, 35);
        color: #fff;
        text-align: center;
        border-radius: 4px;
        padding: 5px 0;
        position: fixed;
        left: 100px;
        font-family: "arial";
        font-size: 14px;
        white-space: nowrap;
        letter-spacing: .02em;
        transition: .1s;
        animation: .1s popOut;
        pointer-events: none;
        z-index: 1;
        visibility: hidden;

        &:before {
            content: " ";
            position: absolute;
            transform: rotate(-90deg);
            top: 50%;
            right: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent rgb(36, 35, 35);
        }
    }

    &__propic-container {
        display: flex;
        position: relative;
        margin-top: 100px;
        outline: solid;
        outline-offset: 2px;
        align-self: center;
        justify-content: center;
        align-items: center;
        width: 7vmin;
        height: 7vmin;
        border-radius: 50%;
    }

    &__propic {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }


}

@keyframes popIn {
    from {
        transform: scale(1.1);
        opacity: 0.6;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes popOut {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        opacity: 0.6;
    }
}