.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 8%;
    z-index: 1;
    background-color: linear-gradient(#1B2121, #17181C, #17181C);
    text-overflow: ellipsis;
    overflow: hidden;

    &__propic-container {
        display: flex;
        position: relative;
        align-self: center;
        justify-content: center;
        align-items: center;
        width: 3.5em;
        height: 4em;
        border-radius: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__propic {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }


    &__icons {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 100%;
        bottom: 30px;
        list-style-type: none;
        padding: 0;
        text-align: center;
        
        li {
            width: 100%;
            height: 5%;
            margin: 0 0 35px 0;
            display: flex;
            align-items: center;
            justify-content: center;

            &[value=true] {
                border-left: solid;
                border-left-color: #1d90f5;
                border-left-width: 5px;
            }

      
        }
    }

    &__chat-icon,
    &__notification-bell,
    &__add-friend,
    &__create-server,
    &__settings-icon,
    &__logout-icon {
        
        width: 100%;
        height: 70%;
        fill: white;
        transition: all .3s ease-out;
        opacity: 0.4;
   

        &:hover {
            cursor: pointer;
            fill: #285e8d;
            opacity: 1;
        }

        &:hover+.sidebar__tooltip {
            visibility: visible;
            animation: .2s popIn;
        }

    }

    &__chat-icon {

        &[value=true] {
            fill: #1d90f5;
            opacity: 1;
        }

    }

    &__notification-bell {

        &[value=true] {
            fill: #1d90f5;
            opacity: 1;
        }

    }

    &__add-friend {
        width: 2vw;
        height: 2vw;
        cursor: pointer;

        &[value=true] {
            fill: #1d90f5;
            opacity: 1;
        }
    }

    &__create-server {
        width: 2vw;
        height: 2vw;
        cursor: pointer;

        &[value=true] {
            fill: #1d90f5;
            opacity: 1;
        }
    }

    &__settings-icon {
        width: 2vw;
        height: 2vw;
    }

    &__logout-icon {
        width: 1.8vw;
        opacity: 0.4;
        position: relative;
        cursor: pointer;

        &:hover {
            filter: invert(66%) sepia(75%) saturate(5823%) hue-rotate(332deg) brightness(92%) contrast(112%);
            opacity: 1;
        }
    }

    &__tooltip {
        width: 110px;
        background-color: rgb(36, 35, 35);
        color: #fff;
        text-align: center;
        border-radius: 4px;
        padding: 5px 0;
        position: fixed;
        left: 100px;
        font-family: "arial";
        font-size: 14px;
        white-space: nowrap;
        letter-spacing: .02em;
        transition: .1s;
        animation: .1s popOut;
        pointer-events: none;
        z-index: 1;
        visibility: hidden;

        &:before {
            content: " ";
            position: absolute;
            transform: rotate(-90deg);
            top: 50%;
            right: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent rgb(36, 35, 35);
        }
    }

    
}

@keyframes popIn {
    from {
        transform: scale(1.1);
        opacity: 0.6;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes popOut {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        opacity: 0.6;
    }
}