.SignUp {

    .sign-up-form {
        
        .back-arrow {
            position: relative;
            width: 4vh;
            top: -400px;
            left: 20px;
            opacity: 0.9;
            cursor: pointer;
        }

        .email-sign-up-container {
            font-size: 13px;

            .email-sign-up {
                display: flex;
                position: relative;
                bottom: 223px;
                width: 40vh;
                height: 4vh;
                border-radius: 16px;
                margin-left: auto;
                margin-right: auto;
                transform: translate(0, 15px);
                color: white;
                background: transparent;
                border-style: solid;
                border-width: 1px;
                border-color: rgb(224, 224, 224);
                outline: none;
                margin-bottom: 35px;
                text-indent: 40px;
                background: url(../Assets/Images/email.png);
                background-position: left;
                background-size: 18px;
                background-repeat: no-repeat;
                background-position: 10px;
                background-position-y: 6px;
                opacity: 0.7;
                font-size: 16px;

                &:focus {
                    opacity: 1;
                }
            }

            .email-sign-up~.email-sign-up-span {
                color: white;
                transition: top .7s ease;
                position: absolute;
                top: 274.5px;
                left: 100px;
            }

            .email-sign-up:focus~.email-sign-up-span {
                font-size: 12px;
                top: 242px;
            }
        }
    }

    #submit-sign-up {
        bottom: 33.8vh;
    }
}