.app-settings-my-account {
    position: relative;
    margin-left: 50px;
    width: 62%;
    height: 100%;

    &__section-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        width: 100%;
        height: 55%;
        top: 110px;
    }

    &__section-1-title {
        position: absolute;
        top: -60px;
        font: bold 20px "aeroportLight";
    }

    &__user-profile-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #202225;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    &__banner {
        width: 100%;
        height: 25%;
        background-color: red;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    &__propic-container {
        display: flex;
        position: absolute;
        top: 70px;
        left: 20px;
        justify-content: center;
        align-items: center;
        width: 5.5em;
        height: 5.5em;
        border: 8px solid;
        border-color: #202225;
        border-radius: 50%;
        background-color: black;
        z-index: 99;
        pointer-events: none;
    }

    &__change-pic-text {
        position: relative;
        font: bold 12px "aeroportLight";
        bottom: 2px;
        z-index: 1;
        pointer-events: none;
    }

    &__propic {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        pointer-events: all;
        cursor: pointer;
        
        &:hover {
            opacity: 0.8;
        }
    }

    &__new-pro-pic {
        display: none;
    }

    &__container {
        display: flex;
        position: relative;
        justify-content: space-between;
        top: 15px;
        width: 96%;
        height: 10%;
        font: bold 20px "aeroportLight";
        z-index: 1;
    }

    &__username {
        position: relative;
        left: 140px;
    }

    &__container-2 {
        display: flex;
        justify-content: right;
        position: relative;
        width: 100%;
    }

    &__btn-restore {
        color: white;
        background-color: transparent;
        border: none;
        margin-right: 15px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__btn-apply-image {
        position: relative;
        width: 26%;
        color: white;
        background-color: #1d90f5;
        border-radius: 30px;
        border: none;
        padding: 12px;
        cursor: pointer;
        align-self: center;
        transition: 0.3s all;
        box-shadow: 0 5px 80px -19px #1d90f5;

        &:hover {
            box-shadow: 0 8px 80px -15px #1d90f5;
        }
    }

    &__user-settings-container {
        display: flex;
        position: relative;
        flex-direction: column;
        align-self: center;
        padding: 15px;
        top: 45px;
        width: 91%;
        height: 42%;
        border-radius: 6px;
        background-color: #2f3136;
        justify-content: space-around;
    }

    &__change-username-container,
    &__change-email-container {
        position: relative;
        width: 100%;
    }

    &__username-2,
    &__email {
        font-size: 13px;
        opacity: 0.7;
        margin-bottom: 2px;
    }

    &__username-3 {
        font-size: 15px;
        opacity: 0.9;
    }

    &__btn-modify {
        float: right;
        position: relative;
        color: white;
        background-color: #4f545c;
        border: none;
        padding: 8px 20px 8px 20px;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.2s;
        font-size: 14px;
        bottom: 12px;

        &:hover {
            background-color: #686d73;
        }

        &:active {
            background-color: #72767d;
        }
    }
}